name: alint
on: push
jobs:
  my-job:
    runs-on: macos-latest
    steps:
      - name: install
        run: pip install poetry
      - name: install flake8
        run: poetry add wemake-python-styleguide
      - name: lint
        run: poetry run flake8 brain_games  